.postLeft {
  margin-left: 30px;
  position: fixed;
  display: flex;
  flex-direction: column;
  right: 18%;
}
.postLeft__logo {
  height: 60px;
  object-fit: contain;
  border-radius: 99px;
}
.postLeft__left {
  display: flex;
  align-items: center;
}
.postLeft__left-info {
  margin-left: 14px;
  padding-right: 50px;
}
.postLeft__right > p {
  font-size: 15px;
  color: #3aadf7;
}
.postLeft__top {
  display: flex;
  align-items: center;
}
.postLeft__middle {
  margin-top: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.postLeft__middle > p {
  font-size: 15px;
  color: gray;
  font-weight: 500;
}
.postLeft__middle-text {
  color: black !important;
  font-size: 14px !important;
}
@media only screen and (max-width: 1235px) {
  .postLeft {
    margin-left: 30px;
    position: fixed;
    display: flex;
    flex-direction: column;
    right: 12%;
  }
}
@media only screen and (max-width: 1220px) {
  .postLeft {
    margin-left: 30px;
    position: fixed;
    display: flex;
    flex-direction: column;
    right: 10%;
  }
}
@media only screen and (max-width: 1200px) {
  .postLeft {
    margin-left: 30px;
    position: fixed;
    display: flex;
    flex-direction: column;
    right: 7%;
  }
}
@media only screen and (max-width: 1120px) {
  .postLeft {
    margin-left: 30px;
    position: fixed;
    display: flex;
    flex-direction: column;
    right: 2.5%;
  }
}
@media only screen and (max-width: 1030px) {
  .postLeft {
    display: none !important;
  }
}
