.storyList {
  margin-top: 50px;
  margin-left: 20px;
}
.storyList__logo {
  height: 80px;
  object-fit: contain;
  border-radius: 99px;
  border: 4px solid lightgray;
}
.storyList > p {
  font-size: 15px;
}
